In [3]:
inputs['astro']

'C:/Users/Nathan/Dropbox/GitHub/astro/inputs'

In [29]:
#!/usr/bin/python

# SET I/O
inputs = {'astro' : 'C:/Users/Nathan/Dropbox/GitHub/astro/inputs'}
outputs = {'astro' : 'C:/Users/Nathan/Dropbox/GitHub/astro/outputs'}

# LIBRARIES
import os
import time
import datetime as dt
import numpy as np
import matplotlib as matplotlib
import matplotlib.pyplot as plt 
import pandas as pd 
import matplotlib.dates as mdates
from matplotlib.dates import date2num, num2date
from matplotlib import ticker
from pandas import DataFrame, Series, ExcelWriter
from datetime import datetime
from matplotlib.backends.backend_pdf import PdfPages
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, \
     AnnotationBbox
from matplotlib.cbook import get_sample_data
from matplotlib.ticker import FuncFormatter
pd.options.mode.chained_assignment = None

# SCRIPT SUMMARY
print("\n\n\n######################################################\n")
if '__file__' in globals():
    print("CURRENT SCRIPT:\n" + str(os.path.realpath(__file__)) + "\n")
print("INPUT FOLDERS:")
for key in inputs:
    print(inputs[key])
print("\nOUTPUT FOLDERS:")
for key in outputs:
    print(outputs[key])
print("\n######################################################\n")

# PARAMS
filename = 'Sunrise Sunset-2015.txt'
firstdata = 9
maxdays = 31
months = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12]
columns = ['month','day','event','time']

## NOTE: Input files must be named in the format: name + "-" + date("YYYY-MM-DD")
# FIND OPPORTUNITY DATA
os.chdir(inputs['astro'])

# Using the newer with construct to close the file automatically.
with open(filename) as f:
    data = f.readlines()

# cut off extra crap
ssdata = data[firstdata:firstdata+maxdays]
ssdata = pd.DataFrame(ssdata, columns=['raw data'])

data = pd.DataFrame(columns=columns)
temp = pd.DataFrame([[0,0,'r',dt.time(0,0,0)]], columns=columns)

for day in range(0,len(ssdata)):
    split = ssdata['raw data'][day].split(" ")
    event = 'r'
    for month in months:
        temp['month'] = month
        temp['day'] = day+1
        
        if (event == 'r'):
            event = 's'
        else:
            event = 'r'
        
        data = data.append(temp, ignore_index=True)
        
        
        
        



data.head(5)

######################################################

INPUT FOLDERS:
C:/Users/Nathan/Dropbox/GitHub/astro/inputs

OUTPUT FOLDERS:
C:/Users/Nathan/Dropbox/GitHub/astro/outputs

######################################################

   month  day event      time
0      1    1     r  00:00:00
1      1    1     r  00:00:00
2      2    1     r  00:00:00
3      2    1     r  00:00:00
4      3    1     r  00:00:00

In [30]:
data

     month  day event      time
0        1    1     r  00:00:00
1        1    1     r  00:00:00
2        2    1     r  00:00:00
3        2    1     r  00:00:00
4        3    1     r  00:00:00
5        3    1     r  00:00:00
6        4    1     r  00:00:00
7        4    1     r  00:00:00
8        5    1     r  00:00:00
9        5    1     r  00:00:00
10       6    1     r  00:00:00
11       6    1     r  00:00:00
12       7    1     r  00:00:00
13       7    1     r  00:00:00
14       8    1     r  00:00:00
15       8    1     r  00:00:00
16       9    1     r  00:00:00
17       9    1     r  00:00:00
18      10    1     r  00:00:00
19      10    1     r  00:00:00
20      11    1     r  00:00:00
21      11    1     r  00:00:00
22      12    1     r  00:00:00
23      12    1     r  00:00:00
24       1    2     r  00:00:00
25       1    2     r  00:00:00
26       2    2     r  00:00:00
27       2    2     r  00:00:00
28       3    2     r  00:00:00
29       3    2     r  00:00:00
..     ...  ...   ...       ...
714     10   30     r  00:00:00
715     10   30     r  00:00:00
716     11   30     r  00:00:00
717     11   30     r  00:00:00
718     12   30     r  00:00:00
719     12   30     r  00:00:00
720      1   31     r  00:00:00
721      1   31     r  00:00:00
722      2   31     r  00:00:00
723      2   31     r  00:00:00
724      3   31     r  00:00:00
725      3   31     r  00:00:00
726      4   31     r  00:00:00
727      4   31     r  00:00:00
728      5   31     r  00:00:00
729      5   31     r  00:00:00
730      6   31     r  00:00:00
731      6   31     r  00:00:00
732      7   31     r  00:00:00
733      7   31     r  00:00:00
734      8   31     r  00:00:00
735      8   31     r  00:00:00
736      9   31     r  00:00:00
737      9   31     r  00:00:00
738     10   31     r  00:00:00
739     10   31     r  00:00:00
740     11   31     r  00:00:00
741     11   31     r  00:00:00
742     12   31     r  00:00:00
743     12   31     r  00:00:00

[744 rows x 4 columns]